* {
    transition-duration: 0.2s;
    transition-property: opacity, height, width, color, display;
}
html, body {
    overflow: auto;
}
body {
    padding: 8% 0 1%;
    margin: 0;
    background-color: #eee;
}
#content, #ruler {
    margin: 2% 0;
    line-height: 1.7em;
    zoom: 1.4;
}
#content {
    white-space: pre-wrap;
    background-color: #fff;
    -webkit-user-modify: read-write-plaintext-only;
    -webkit-font-smoothing: antialiased;
}
#content:focus {
    outline: none;
}

.vertical #content {
    padding: 3em 2em;
    /* height: 20.5em; */
    height: 60%;
}
.vertical #ruler {
    height: 1em;
    padding: 0 2em;
}
.vertical #ruler,
.vertical #content {
    font-family: serif;
    -webkit-writing-mode: vertical-rl;
}
.vertical span.yahoo-kousei {
    border-right: 1px dotted red;
}

.horizontal #content {
    padding: 3em 5em;
    height: inherit;
    width: 40%;
    min-width: 20em;
    margin-left: auto;
    margin-right: auto;
}
.horizontal #ruler {
    padding: 3em 0;
    width: 1em;
    position: absolute;
    left: 15%;
}
.horizontal #ruler,
.horizontal #content {
    font-family: IPAexGothic;
    -webkit-writing-mode: horizontal-tb;
}
.horizontal span.yahoo-kousei {
    border-bottom: 1px dotted red;
}

.dropping {
    background-color: Highlight;
}
.dropping #content {
    opacity: 0.5;
}

#ruler {
    color: #999;
}
#ruler .page-marker {
    -webkit-writing-mode: horizontal-tb;
}
p {
    margin: 0
}

#meta {
    font-family: Georgia;
    font-size: 90%;
    background-color: #aaa;
    color: #fff;
    padding: 0.3em 0.6em;
    position: fixed;
    top: 2em;
    left: 3em;
    opacity: 0.3;
}
#meta:hover {
    opacity: 0.6;
}
#meta #title {
    font-size: x-large;
}
#meta #actions {
    margin-top: 10px;
    font-size: large;
    display: none;
}
#meta:hover #actions {
    display: block;
}
#meta .action {
    padding: 0 0.2em;
    color: #fff;
    font-family: monospace;
    font-weight: bold;
    font-size: larger;
    text-decoration: none;
    cursor: pointer;
    transition-duration: 0;
}
#meta .action:hover,
#meta .action:active
{
    color: #77e;
}
#meta #title-extension {
    display: none;
}
#meta:hover #title-extension {
    display: inline;
}

#ui-modal-background {
    opacity: 0.6;
    background-color: black;
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modal-ui-component {
    display: none;

    z-index: 1000;

    position: fixed;
    top: 30%;
    width: 60%;
    left: 20%;

    background-color: white;
    padding-top: 2em;
    padding-bottom: 2em;
    text-align: center;
}

input {
    font-size: larger;
    padding: 5px;
    border: 1px solid #ccc;
    width: 80%;
}

input:focus {
    border-color: #888;
}

.tipsy {
    font-family: Georgia, serif;
}
